/* index.css */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

:root {
    --default-font-family: 'ADLaM Displa', sans-serif; 
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

* {
    font-family: var(--default-font-family) !important;
}